      /*الخلفية الخاصة بالصفحة كلها*/
      body {
          background-image: url(./d1.jpg);
          background-position: center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-attachment: fixed;

          background-color: rgba(255, 255, 255, 0.5);
      }
       .container {
            display: flex;
            width: 55%;
            justify-content: space-between;
          }
          
          .column {
            flex: 1;
            height: 25%;
            margin-right: 5%; 
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 5%;
            overflow: hidden;
          }
          
          .circular-container {
            display: flex;
            justify-content: center;
            align-items: center; 
            border-radius: 50%; 
            overflow: hidden;
          }
   
      /*الشريط اسفل الصفحة*/
     /*الشريط اسفل الصفحة*/
      #footer {
          width: 100vw;
          height: 5vh;
          color:  yellow;
          background-color:  yellow;
          position: fixed;
          bottom: 0px;
          text-align: center;
      }
      #footer a {
        color: #161c51;
        text-decoration: none;
    }

.fa-snapchat {
    color: #161c51;
}
      .variable-element { 
          margin: 20px;
          padding: 10px;
          line-height: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .mystical-blue {
        filter: sepia(100%) hue-rotate(190deg) brightness(1.2) contrast(0.8);
      }
      .new-element {
        background-color: yellow;
        border-radius: 83px;
        width: 90%;
        height: 68px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

      .new-element a {
          color: #161c51;
          text-decoration: none;
      }

      .new-element span {
          margin-right: 25px;
          color: #161c51;
      }

      .element-text {
          font-size: 25px;
          /* تعديل حجم النص هنا */
      }

      .element-icon {
          font-size: 30px;
          /* تعديل حجم الأيقونة هنا */
      }